<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/bg/about-us.jpg" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Chào mừng đến với Martfury</h4>
                <h3>Chúng tôi kết nối hàng triệu người mua và người bán trên khắp thế giới, trao quyền cho mọi người và tạo cơ hội kinh tế cho tất cả mọi người.</h3>
                <p>Trong thị trường của chúng tôi, hàng triệu người trên khắp thế giới kết nối, cả trực tuyến và ngoại tuyến, để tạo, bán và mua hàng hóa độc đáo. Chúng tôi cũng cung cấp một loạt các Dịch vụ dành cho Người bán và các công cụ giúp các doanh nhân sáng tạo bắt đầu, quản lý và mở rộng quy mô kinh doanh của họ. Sứ mệnh của chúng tôi là hình dung lại thương mại theo những cách thức xây dựng một thế giới lâu dài và trọn vẹn hơn, đồng thời chúng tôi cam kết sử dụng sức mạnh kinh doanh để củng cố cộng đồng và trao quyền cho mọi người.</p>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cube"></i>
                            <h4>45M</h4>
                            <p>Sản phẩm để bán</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-store"></i>
                            <h4>1.8M</h4>
                            <p>Người bán đang hoạt động trên Martfury</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-bag2"></i>
                            <h4>30.6M</h4>
                            <p>Người mua đang hoạt động trên Martfury</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cash-dollar"></i>
                            <h4>$2.46M</h4>
                            <p>Tổng doanh thu hàng hóa hàng năm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
