<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ chúng tôi</h4>
                <div class="widget_content">
                    <p>Gọi cho chúng tôi 24/7</p>
                    <h3>1800 97 97 69</h3>
                    <p>425 Hoàng Quốc Việt, Cầu Giấy, Hà Nội <br><a href="#"><span class="__cf_email__" data-cfemail="14777b7a6075776054797566607261666d3a777b">contact@martfury.com</span></a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Đường dẫn nhanh</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">Chính sách</a></li>
                    <li><a href="javascript:void(0);">Kì hạn & điều kiện</a></li>
                    <li><a href="javascript:void(0);">Đang chuyển hàng</a></li>
                    <li><a href="javascript:void(0);">Trở lại</a></li>
                    <li><a href="javascript:void(0);">Câu hỏi thường gặp</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Công ty</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">Về chúng tôi</a></li>
                    <li><a href="javascript:void(0);">Nghề nghiệp</a></li>
                    <li><a href="javascript:void(0);">Career</a></li>
                    <li><a href="javascript:void(0);">Liên hệ</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Kinh doanh</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">Báo chí của chúng tôi</a></li>
                    <li><a href="javascript:void(0);">Thủ tục thanh toán</a></li>
                    <li><a href="javascript:void(0);">Tài khoản của tôi</a></li>
                    <li><a href="javascript:void(0);">Cửa hàng</a></li>
                </ul>
            </aside>
        </div>
        <div class="ps-footer__links">
            <p><strong>Sách giáo khoa:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
            </p>
            <p><strong>Sách giáo dục &amp; edu:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
            </p>
            <p><strong>Sách Nhà, Vườn &amp; Nhà bếp:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
            </p>
            <p><strong>Sách Sức khỏe &amp; Làm đẹp:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
            </p>
            <p><strong>Sách kinh doanh &amp; khởi nghiệp:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
            </p>
            <p><strong>Sách Máy tính &amp; Công nghệ:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
            </p>
        </div>
        <div class="ps-footer__copyright">
            <p>&copy; 2023 Nhà sách Martfury. Đã đăng kí bản quyền</p>
            <p><span>Chúng tôi sử dụng thanh toán an toàn cho:</span>
                <a href="javascript:void(0);"><img src="img/payment-method/1.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/2.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/3.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/4.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/5.jpg" alt="" /></a>
            </p>
        </div>
    </div>
</footer>
