<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Những đánh giá của khách</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" (keyup)="search($event)" />
            </mat-form-field>
            
            <button mat-raised-button color="primary" style="float: right;" (click)="exporter.exportTable('csv', {fileName:'Danh sách đánh giá'})">Xuất Excel</button>

            <table mat-table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[2,6]" [dataSource]="listData" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6%;">STT</th>
                    <td mat-cell *matCellDef="let row, let i = index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">Khách hàng</th>
                    <td mat-cell *matCellDef="let row">{{row.user.name}}</td>
                </ng-container>
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">Sản phẩm</th>
                    <td mat-cell *matCellDef="let row">
                        <img [src]="row.product.image" style="width: 60px;" [title]='row.product.name'
                            class="img-fluid">
                    </td>
                </ng-container>
                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">Đánh giá</th>
                    <td mat-cell *matCellDef="let row">
                        <ngb-rating [(rate)]="row.rating" [starTemplate]="t" [readonly]="true" [max]="5"
                            title="{{row.rating}} sao">
                        </ngb-rating>
                    </td>
                </ng-container>
                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">Bình luận</th>
                    <td mat-cell *matCellDef="let row">{{row.comment}}</td>
                </ng-container>
                <ng-container matColumnDef="rateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">Thời gian</th>
                    <td mat-cell *matCellDef="let row">{{row.rateDate|date:'dd-MM-yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;">Xoá</th>
                    <td mat-cell *matCellDef="let row">
                        <a class="fas fa-trash" style="color: steelblue; cursor: pointer;"
                            (click)="delete(row.id)"></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [length]="ratesLength" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>
        </div>

    </div>
</div>

<!-- star -->
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>