<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh sách khách hàng</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" (keyup)="search($event)" />
            </mat-form-field>
            <button mat-raised-button color="primary" class="ml-3" style="float: right;" (click)="exporter.exportTable('csv', {fileName:'Danh sách người dùng'})">Xuất Excel</button>
            <app-add-customer style="float: right;" (saveFinish)="finish()"></app-add-customer>

            <table mat-table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[0,8,9]" [dataSource]="listData" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"></th>
                    <td mat-cell *matCellDef="let row">
                        <img [src]="row.image" style="border-radius: 50%;object-fit: cover; width: 60px; height: 60px;" class="p-1">
                    </td>
                </ng-container>
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;">Id</th>
                    <td mat-cell *matCellDef="let row">{{row.userId}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">Họ tên</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">Email</th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">Địa chỉ</th>
                    <td mat-cell *matCellDef="let row">{{row.address}}</td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">SĐT</th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%;">Giới tính</th>
                    <td mat-cell *matCellDef="let row">{{row.gender?'Nam':'Nữ'}}</td>
                </ng-container>
                <ng-container matColumnDef="registerDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">Ngày đăng kí</th>
                    <td mat-cell *matCellDef="let row">{{row.registerDate|date:'dd-MM-yyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef style="width: 5%;">Xem</th>
                    <td mat-cell *matCellDef="let row">
                        <app-edit-customer [id]='row.userId' (editFinish)="finish()"></app-edit-customer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef style="width: 5%;">Xoá</th>
                    <td mat-cell *matCellDef="let row">
                        <a style="color: steelblue; cursor: pointer;" (click)="delete(row.userId, row.name)"><i class="fa fa-trash"></i></a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [length]="customerLength" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>

        </div>
    </div>
</div>