<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2 class="modal-title p-0">Chi tiết đơn hàng</h2>
        <h2>Tổng tiền: {{order.amount|currency:'VND'}}</h2>
    </div>
    <div class="modal-body">
        <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">STT</th>
                <td mat-cell *matCellDef="let row, let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <img [src]="row.product.image" class="img-fluid" style="width: 40px;">
                </td>
            </ng-container>
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Sản phẩm</th>
                <td mat-cell *matCellDef="let row">{{row.product.name}}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Giá</th>
                <td mat-cell *matCellDef="let row">{{row.price|currency:'VND'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>
    <div class="d-flex m-2 mb-4">
        <button mat-raised-button color="primary" *ngIf="order.status==0" (click)="deliver()" class="col-2 ml-2">Xác nhận đơn</button>
        <button mat-raised-button color="warn" *ngIf="order.status==0" (click)="cancel()" class="col-2 ml-2">Huỷ đơn</button>
        <button mat-raised-button color="accent" *ngIf="order.status==1" (click)="confirm()" class="col-2 ml-2">Đã Thanh Toán</button>
    </div>
</ng-template>
<a class="fas fa-clipboard-check" style="cursor: pointer; color: teal; font-size: 19px;" (click)="open(content)"></a>